<% include ./partials/header %>
        
        
        
        <form action="/login"  method="POST">
        <div class="col-md-6 col-sm-6 col-xs-6 sign_1">
            <div class="login-form action=/action_page.php">
                <div class="col-md-12 and"></div>
                <div class="col-md-12 signinname">
                    <input class='form-control' type="text" name="username" placeholder="User Name">
                </div>
                <div class="col-md-12 signinemail">
                   <input class='form-control' type="password" name="password" placeholder="password">
                </div>
                <div class="col-md-12">
                    <button class="btn btn-danger">Sign In</button>
                </div>
            </div>
        </div>
        </form>

	</body>
	<footer class="footer "></footer>
</html>